*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1.5fr 4fr;
    height: 100vh;
}
aside {
    background-color: rgb(132, 90, 38);
    /* height: 100dvh; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    z-index: 1;
    box-shadow: -16px 0 100px;
    position: relative;
    h1 {
        text-align: center;
        color: whitesmoke;
    }
    input {
        width: 150px;
        align-self: center;
        height: 2em;
        padding: 0 10px;
        outline: none;
    }
    button {
        width: 150px;
        height: 2em;
        border-radius: 5px;
        border: 0;
        align-self: center;
    }
    button:hover {
        background-color: bisque;
        color: black;
    }
}
main {
    /* height: 100dvh; */
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, min(250px));
    grid-auto-columns: 250px;
    gap: 10px;
    /* dom manipulation design layout for book cards*/
    .book-card {
        background-color: bisque;
        height: 250px;
        box-shadow: 0 0 5px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        /* padding: 15px; */
    }
    .bookIdentity {
        width: 100%;
        background-color: black;
        justify-self: self-start;
        color: bisque;
        text-align: center;
        padding: 10px 0;
    }
    .bookInfo {
        padding: 0 10px;
    }
    .deleteBTN {
        width: 50px;
        background-color: rgb(132, 90, 38);
        color: whitesmoke;
        border: none;
        height: 2em;
        border-radius: 3px;
    }
}

@media(max-width: 568px) {
    body {
        grid-template: 1.5fr 4fr/ 1fr;
    }
}
@media(max-width: 539px) {
    main {
        align-items: center;
        justify-content: center;
        grid-template: 1fr/1fr;
    }
}